body {
  background-color: hsl(30, 38%, 92%);
}

h1, h2, h3 {
  font-family: fraunces;
}

h2 {
  display: inline-block;
}

p {
  font-family: montserrat;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}

#product {
  border-radius: 10px;
  margin: auto;
  max-width: 600px;
  display: flex;
  border-radius: 10px;
  margin-top: 10%;
  background-color: #fff;
}

.image {
  background-image: url(./img/image-product-desktop.jpg);
  background-size: cover;
  width: 50%;
  border-radius: 10px 0px 0px 10px;
}

.description {
  width: 50%;
  margin: 40px;
}

.price h2 {
  display: inline-block;
}
.price p {
  display: inline-block;
  margin-left: 20px;
}

.price h2 {
  color: hsl(158, 36%, 37%);
}

.button {
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  font-family: montserrat;
  font-weight: 900;
  color: #fff;
}

.button:hover {
  background-color: hsl(212, 21%, 14%);
}

@media(max-width:375px) {
  #product {
    max-height: 650px;
    flex-direction: column;
  }

  .image {
    background-image: url(./img/image-product-mobile.jpg);
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height: 250px;
    width: 100%;
  }

  .description {
    width: auto;
  }
}
